.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 4rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  border-bottom-right-radius: 2rem;
}

.header-brand {
  padding: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.navbar {
  background-color: var(--primary-color);
  position: fixed;
  right: 0;
  top: 0;
  width: 30vw;
  height: 100%;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  z-index: 2;
}

.navbar-show {
  width: 30vw;
  display: block;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}

.nav-links {
  padding: 1rem;
  color: var(--secondary-color);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem;
}

.nav-links li {
  display: block;
  padding: 0.4rem;
  font-size: 1.2rem;
  margin: 0;
}

.nav-item i {
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.navbar-open-btn {
  padding: 1.5rem;
}

.navbar-close-btn i {
  color: var(--secondary-color);
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .navbar-open-btn {
    display: none;
  }

  .navbar-close-btn {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: auto;
    height: auto;
    position: inherit;
  }

  .nav-links {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav-item i {
    display: inline-block;
  }
}
