<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/dd0d05bba7.js"
      crossorigin="anonymous"
    ></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/Image/image.css" />
    <title>Pastel UI | Images</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="heading">
        <h1>Images</h1>
        <p>
          Images are elements added on websites to make them engaging to the
          users. They are great for displaying ideas and content in visual
          format.
        </p>
      </div>

      <hr class="divider" />
      <div class="sub-heading">
        <h3>Round Image</h3>
        <p>
          You can get round image by adding the <strong>img-round</strong> class
          to your img tag.
        </p>
      </div>

      <div class="images-wrapper">
        <div class="img-container">
          <img
            src="/images/image-img.jpg"
            alt="Round Image"
            class="img-round"
          />
        </div>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61f8d39b1e1df4001537936a"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>
      </div>

      <hr class="divider" />
      <div class="sub-heading">
        <h3>Image with Rounded corners</h3>
        <p>
          You can get image with rounded corners by adding the
          <strong>img-rounded-corner</strong> class to your img tag.
        </p>
      </div>

      <div class="images-wrapper">
        <div class="img-container">
          <img
            src="/images/image-img.jpg"
            alt="Image with Rounded corners"
            class="img-rounded-corner"
          />
        </div>
      </div>
      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61f8d3db1e1df4001537936b"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>
      </div>

      <hr class="divider" />
      <div class="sub-heading">
        <h3>Responsive Image</h3>
        <p>
          You can get a responsive image by adding the
          <strong>img-responsive</strong> class to the img tag.
        </p>
      </div>
      <div class="images-wrapper">
        <div class="img-container">
          <img
            src="/images/image-img.jpg"
            alt="Image with Rounded corners"
            class="img-responsive"
          />
        </div>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61f8d62e1e1df40015379370"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </body>
</html>
