<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/dd0d05bba7.js"
      crossorigin="anonymous"
    ></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/Typography/typography.css" />
    <title>Pastel UI | Typography</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="heading">
        <h1>Typography</h1>
        <p>
          Typography is used to write text of different sizes which are relevant
          to emphasize text on your websites.
        </p>
      </div>

      <hr class="divider" />

      <div class="sub-heading">
        <h3>Typography (Heading)</h3>
      </div>

      <div class="typo-wrapper">
        <h1 class="hl1">Headline 1</h1>
        <h2 class="hl2">Headline 2</h2>
        <h3 class="hl3">Headline 3</h3>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61f95ec91e1df40015379436"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>
      </div>

      <hr class="divider" />

      <div class="sub-heading">
        <h3>Centered Text</h3>
      </div>
      <div class="typo-wrapper">
        <p class="centered-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora,
          voluptas? Non voluptate esse suscipit? Eius eum sit dicta, totam amet
          ut, perferendis atque a error blanditiis molestias culpa minus
          inventore at? Natus, suscipit. Dolores dolore obcaecati voluptates
          pariatur? Sint exercitationem rem non. Quis aliquid impedit mollitia
          earum dicta saepe laborum!
        </p>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61f960311e1df4001537943a"
          style="width: 100%; height: 125px"
          frameborder="0"
        ></iframe>
      </div>

      <hr class="divider" />

      <div class="sub-heading">
        <h3>Grey Text</h3>
      </div>

      <div class="typo-wrapper">
        <p class="grey-text">Grey Text</p>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61f961041e1df4001537943c"
          style="width: 100%; height: 99px"
          frameborder="0"
        ></iframe>
      </div>

      <hr class="divider" />

      <div class="sub-heading">
        <p>
          Pastel UI uses
          <a href="https://fonts.google.com/specimen/Poppins?query=poppins">
            <strong>Poppins</strong>
          </a>
          as its default font.
        </p>
      </div>
    </div>
  </body>
</html>
