.inputs-wrapper {
	align-items: center;
	align-self: center;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	margin: 2rem;
	padding: 2rem;
	width: 80%;
}
.input-container label {
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	color: var(--dark-gray);
	font-size: 1rem;
	left: 15px;
	pointer-events: none;
	position: absolute;
	top: 15px;
	transition: all 0.3s ease-in-out;
}
.input-container {
	margin: 2rem;
	padding: 0.5rem;
	position: relative;
	width: 50%;
}
.input-container input {
	background: transparent;
	color: var(--primary-color);
	font-size: 1rem;
	outline: none;
	padding: 0.5rem;
	width: 100%;
}
.standard input,
.filled input {
	border: 0;
	border-bottom: 2px solid var(--default-color);
}
.standard input:focus,
.filled input:focus {
	border: none;
	border-bottom: 2px solid var(--primary-color);
	outline: none;
}
.outlined input {
	border: 2px solid var(--default-color);
}
.outlined input:focus {
	border: 2px solid var(--primary-color);
	outline: none;
}
.filled input {
	background-color: var(--secondary-color);
}
.input-container input:focus ~ label {
	color: var(--primary-color);
	font-size: 0.7rem;
	top: -15px;
}
/* Validation Inputs */
.standard.success input,
.filled.success input {
	border: 0;
	border-bottom: 2px solid var(--green);
}
.outlined.success input {
	border: 2px solid var(--green);
}
.success small,
.success input:focus ~ label {
	color: var(--green);
}
.standard.error input,
.filled.error input {
	border: 0;
	border-bottom: 2px solid var(--red);
}
.outlined.error input {
	border: 2px solid var(--red);
}
.error small,
.error input:focus ~ label {
	color: var(--red);
}
