<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/components/Buttons/button.css">
    <title>Pastel UI | Buttons</title>
</head>

<body>
    <div class="wrapper">
        <div class="heading">
            <h1>Buttons</h1>
            <p>Buttons communicate actions that users can take, and make choices with a single tap.</p>
        </div>
        <hr class="divider">
        </hr>

        <div class="sub-heading">
            <h3>Basic Buttons</h3>
            <p>Basic Buttons come in different variants.</p>
            <p>You can use the <strong>btn</strong> class to get a default button in your website. You can use the
                <strong>btn-primary</strong>, <strong>btn-secondary</strong>, <strong>btn-outlined</strong>, and
                <strong>btn-disabled</strong> classes along with the <strong>btn</strong> class on your buttons to get
                the respective variants. </p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn">Default Button</button>
            <button class="btn btn-primary">Primary Button</button>
            <button class="btn btn-secondary">Secondary Button</button>
            <button class="btn btn-outlined">Outlined Button</button>
            <button class="btn btn-disabled" disabled>Disabled Button</button>
        </div>

        <div class="code-wrapper">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=766&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2522%253EDefault%2520Button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%2520Button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESecondary%2520Button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outlined%2522%253EOutlined%2520Button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2522%2520disabled%253EDisabled%2520Button%253C%252Fbutton%253E"
                style="width: 764px; height: 282px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Buttons with Icons</h3>
            <p>Some buttons can also have icons on them. Use icons inside the buttons with any of the variants above to
                get buttons with icons.</p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn btn-primary"><i class="fas fa-paper-plane"></i>Send</button>
            <button class="btn btn-secondary"><i class="fas fa-envelope"></i>Email</button>
        </div>

        <div class="code-wrapper">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=766&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253E%253Ci%2520class%253D%2522fas%2520fa-paper-plane%2522%253E%253C%252Fi%253ESend%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253E%253Ci%2520class%253D%2522fas%2520fa-envelope%2522%253E%253C%252Fi%253EEmail%253C%252Fbutton%253E"
                style="width: 714px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Message Buttons</h3>
            <p>Some buttons are used to convey messages. Use the <strong>btn-success</strong>,
                <strong>btn-warning</strong>, <strong>btn-info</strong>, and <strong>btn-danger</strong> classes along
                with the <strong>btn</strong> class to get the respective variants. </p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn btn-success">Success</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-danger">Danger</button>
        </div>

        <div class="code-wrapper">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=766&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESuccess%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-warning%2522%253EWarning%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-info%2522%253EInfo%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2522%253EDanger%253C%252Fbutton%253E"
                style="width: 623px; height: 239px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Floating Buttons</h3>
            <p>Floating buttons are used for promoted actions and are used for most primary actions on the screen.These are generally used with icons as text in them.</p>
            <p>You can use the <strong>btn-float</strong> class with any of the above variants to get a floating button.</p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn btn-primary btn-float"><i class="fas fa-pencil-alt"></i></button>
            <button class="btn btn-danger btn-float"><i class="fas fa-plus"></i></button>
            <button class="btn btn-secondary btn-float"><i class="fas fa-map-marker-alt"></i></button>
        </div>

        <div class="code-wrapper">
            <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=722.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-float%2522%253E%253Ci%2520class%253D%2522fas%2520fa-pencil-alt%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2520btn-float%2522%253E%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520btn-float%2522%253E%253Ci%2520class%253D%2522fas%2520fa-map-marker-alt%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
  style="width: 722px; height: 324px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
        </div>

    </div>

</body>

</html>