<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/components/Buttons/button.css">
    <title>Pastel UI | Buttons</title>
</head>

<body>
    <!-- Header starts -->
    <header class="header">
      <div class="header-brand"><a href="/index.html">Pastel UI</a></div>

      <button class="navbar-open-btn">
        <i class="fas fa-2x fa-bars"></i>
      </button>
      <nav class="navbar hide">
        <ul class="nav-links">
          <li class="nav-item"><a href="/index.html">Home</a></li>
          <li class="nav-item"><a href="/components/Alerts/alert.html">Docs</a></li>
          <li class="nav-item">
            <a href="https://github.com/RakshaPawar108/Pastel-UI"
              ><i class="fab fa-github"></i>Contribute</a
            >
          </li>
        </ul>
        <button class="navbar-close-btn">
          <i class="far fa-2x fa-times-circle"></i>
        </button>
      </nav>
    </header>
    <!-- Header ends -->

    <div class="wrapper">
        <!-- Sidebar begins -->
        <aside class="aside">
        <h4>Get Started</h4>
        <ul>
          <li><a href="/components/Introduction/introduction.html">Introduction</a></li>
        </ul>
        <h4>Components</h4>
        <ul>
        <li><a  href="/components/Alerts/alert.html">Alert</a></li>
          <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/Badge/badge.html">Badge</a></li>
          <li class='active'><a href="/components/Buttons/button.html">Button</a></li>
          <li><a href="/components/Cards/card.html">Card</a></li>
          <li><a href="/components/Image/image.html">Image</a></li>
          <li><a href="/components/Input/input.html">Input</a></li>
          <li><a href="/components/Lists/list.html">List</a></li>
          <li><a href="/components/Modal/modal.html">Modal</a></li>
          <li><a href="/components/Navigation/navigation.html ">Navigation</a></li>
          <li><a href="/components/Rating/rating.html">Rating</a></li>
          <li><a href='/components/Grid/grid.html'>Simplified Grids</a></li>
          <li>
            <a href="/components/Slider/slider.html">Slider</a>
          </li>
          <li><a href="/components/Snackbar/snackbar.html">Snackbar</a></li>
          <li><a href="/components/Typography/typography.html">Typography</a></li>
        </ul>
      </aside>
      <!-- Sidebar ends -->
        <div class="section">
            <div class="heading">
            <h1>Buttons</h1>
            <p>Buttons communicate actions that users can take, and make choices with a single tap.</p>
        </div>
        <hr class="divider">
        </hr>

        <div class="sub-heading">
            <h3>Basic Buttons</h3>
            <p>Basic Buttons come in different variants.</p>
            <p>You can use the <strong>btn</strong> class to get a default button in your website. You can use the
                <strong>btn-primary</strong>, <strong>btn-secondary</strong>, <strong>btn-outlined</strong>, and
                <strong>btn-disabled</strong> classes along with the <strong>btn</strong> class on your buttons to get
                the respective variants. </p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn">Default Button</button>
            <button class="btn btn-primary">Primary Button</button>
            <button class="btn btn-secondary">Secondary Button</button>
            <button class="btn btn-outlined">Outlined Button</button>
            <button class="btn btn-disabled" disabled>Disabled Button</button>
        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f7c015b50e540015bbae2a" style="width: 100%; height: 151px;" frameborder="0"></iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Buttons with Icons</h3>
            <p>Some buttons can also have icons on them. Use icons inside the buttons with any of the variants above to
                get buttons with icons.</p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn btn-primary"><i class="fas fa-paper-plane"></i>Send</button>
            <button class="btn btn-secondary"><i class="fas fa-envelope"></i>Email</button>
        </div>

        <div class="code-wrapper">
           <iframe src="https://www.thiscodeworks.com/embed/61f7c079b50e540015bbae2b" style="width: 100%; height: 125px;" frameborder="0"></iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Message Buttons</h3>
            <p>Some buttons are used to convey messages. Use the <strong>btn-success</strong>,
                <strong>btn-warning</strong>, <strong>btn-info</strong>, and <strong>btn-danger</strong> classes along
                with the <strong>btn</strong> class to get the respective variants. </p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn btn-success">Success</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-danger">Danger</button>
        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f7c0b3b50e540015bbae2c" style="width: 100%; height: 138px;" frameborder="0"></iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Floating Buttons</h3>
            <p>Floating buttons are used for promoted actions and are used for most primary actions on the screen.These
                are generally used with icons as text in them.</p>
            <p>You can use the <strong>btn-float</strong> class with any of the above variants to get a floating button.
            </p>
        </div>

        <div class="buttons-wrapper">
            <button class="btn btn-primary btn-float"><i class="fas fa-pencil-alt"></i></button>
            <button class="btn btn-danger btn-float"><i class="fas fa-plus"></i></button>
            <button class="btn btn-secondary btn-float"><i class="fas fa-map-marker-alt"></i></button>
        </div>

        <div class="code-wrapper">
           <iframe src="https://www.thiscodeworks.com/embed/61f7c0edb50e540015bbae2d" style="width: 100%; height: 151px;" frameborder="0"></iframe>
        </div>
        </div>

    </div>

    <!-- Footer starts -->
    <footer class="footer">
      <div class="credits">
        <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Raksha
        Pawar
      </div>

      <div class="social-links">
        <a href="https://twitter.com/rakshapawar108"
          ><i class="fab fa-twitter" title="Twitter"></i
        ></a>
        <a href="https://github.com/RakshaPawar108"
          ><i class="fab fa-github" title="Github"></i
        ></a>
        <a href="https://www.linkedin.com/in/rakshapawar/"
          ><i class="fab fa-linkedin" title="LinkedIn"></i
        ></a>
      </div>
    </footer>

    <!-- Footer Ends -->

    <script src="/js/navbar.js"></script>

</body>

</html>