<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/components/Avatar/avatar.css">
    <title>Pastel UI | Avatar</title>
</head>

<body>
    <div class="wrapper">
        <div class="heading">
            <h1>Avatar</h1>
            <p>The Avatar component is used to represent a user, and displays the profile picture, initials or fallback
                icon.</p>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Standard Avatar</h3>
            <p>Standard Avatar comes in a single size.</p>
            <p>You can use the <strong>avatar</strong> class on your figure tag to get the standard avatar.</p>
        </div>

        <div class="avatars-wrapper">
            <figure class="avatar">
                <img src="/images/avatar-img-1.jpg" alt="avatar-image-1" class="avatar-img" />

            </figure>
            <figure class="avatar">
                <img src="/images/avatar-img-2.jpg" alt="avatar-image-2" class="avatar-img" />

            </figure>

            <figure class="avatar">
                <img src="/images/avatar-img-3.jpg" alt="avatar-image-3" class="avatar-img" />

            </figure>
        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f79606b50e540015bbade0"
                style="width: 100%; height: 255px;" frameborder="0"></iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Avatar Sizes</h3>
            <p>The Avatar component comes in different sizes. You can use the <strong>avatar-xs</strong> for extra small
                avatar, <strong>avatar-sm</strong> for small avatar, <strong>avatar-md</strong> for a medium-sized
                avatar and <strong>avatar-lg</strong> class for a large avatar alongside the <strong>avatar</strong>
                class. </p>
        </div>

        <div class="avatars-wrapper">
            <figure class="avatar avatar-lg">
                <img src="/images/avatar-img-3.jpg" alt="avatar-image-3" class="avatar-img" />
            </figure>

            <figure class="avatar avatar-md">
                <img src="/images/avatar-img-2.jpg" alt="avatar-image-2" class="avatar-img" />
            </figure>


            <figure class="avatar avatar-sm">
                <img src="/images/avatar-img-3.jpg" alt="avatar-image-3" class="avatar-img" />
            </figure>

            <figure class="avatar avatar-xs">
                <img src="/images/avatar-img-1.jpg" alt="avatar-image-1" class="avatar-img" />
            </figure>

        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f79ac7b50e540015bbadea" style="width: 100%; height: 294px;" frameborder="0"></iframe>
        </div>

        <hr class="divider">

        <div class="sub-heading">
            <h3>Text Avatar</h3>
            <p>When an Avatar does not contain an image, usually a Text Avatar with user's initials are used. You can use the <strong>avatar-text</strong> class alongside any of the above defined classes to get a Text Avatar component. </p>
        </div>

        <div class="avatars-wrapper">
            <figure class="avatar avatar-lg avatar-text">RP</figure>
            <figure class="avatar avatar-md avatar-text">PY</figure>
            <figure class="avatar avatar-sm avatar-text">MP</figure>
            <figure class="avatar avatar-xs avatar-text">CS</figure>
        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f7a01bb50e540015bbadf4" style="width: 100%; height: 138px;" frameborder="0"></iframe>
        </div>

    </div>
</body>

</html>