.cards-wrapper {
  align-items: center;
  align-self: center;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  margin: 2rem;
  padding: 2rem;
  position: relative;
  width: fit-content;
}
.card,
.card-basic {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  box-shadow: -3px 3px 3px gray;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22rem;
}
.card:hover,
.ecomm-horizontal-card:hover,
.ecomm-billing-card:hover {
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  box-shadow: -3px 3px 3px black;
  transition: 0.5s ease-in;
}
.image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}
.image-container img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 15rem;
  max-inline-size: 100%;
  width: 22rem;
}
.content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.content-container h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.content-container h3 {
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: 400;
}
.content-container p {
  color: var(--light-gray);
  font-size: 0.9rem;
  padding-top: 1rem;
}
.action-items-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
}
.btn-container {
  display: flex;
  width: fit-content;
}
.btn-container > .btn {
  background-color: transparent;
  border: none;
  border-radius: 10%;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: fit-content;
}
.icon-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 100;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 0.5rem;
}
.icon-container > .heart-icon,
.icon-container > .share-icon,
.icon-container > .ellipsis-icon {
  padding-top: 0.4rem;
}
.icon-container > .heart-icon,
.icon-container > .share-icon,
.icon-container > .ellipsis-icon,
.card-close-icon {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 2.6rem;
  justify-content: center;
  width: 2.6rem;
}
.btn-container > .btn:hover,
.icon-container > .heart-icon:hover,
.icon-container > .share-icon:hover,
.icon-container > .ellipsis-icon:hover,
.card-close-icon:hover {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25);
}
/* Variants */
.card-text-over-media {
  height: auto;
  position: relative;
}
.card-text-over-media > .content-container > h1 {
  top: 10rem;
}
.card-text-over-media > .content-container > h3 {
  top: 12.5rem;
}
.card-text-over-media > .content-container > h1,
.card-text-over-media > .content-container > h3 {
  color: var(--white);
  position: absolute;
}
.card-text-over-media > .content-container > p {
  padding-top: 0.5rem;
}
/* Basic Card with Header */
.card-basic-with-header {
  height: auto;
}
.card-basic-with-header > .content-container > p {
  padding-top: 0.2rem;
}
.card-basic-with-header > .image-container > img {
  border-radius: 0rem;
}
/* Card with only icons */
.card-with-icons > .action-items-container > .icon-container {
  padding: 1rem 0 1rem 12rem;
}
/* Horizontal card with image and text */
.card-horizontal,
.card-horizontal img {
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
  width: 30rem;
}
.card-horizontal > .image-container {
  width: 40%;
}
.card-horizontal > .content-container {
  flex-direction: column;
}
.card-horizontal > .action-items-container {
  bottom: 0rem;
  position: absolute;
}
.card-horizontal > .action-items-container > .btn-container > .btn {
  color: var(--white);
}
.card-horizontal > .action-items-container > .icon-container {
  padding-left: 7rem;
}
/* Card with Dismiss */
.card-dismiss > .image-container > .card-close-icon {
  position: absolute;
  right: 5px;
  top: 12px;
}
/* Card with Badge */
.card-badge > .image-container > .ecomm-badge,
.prod-ecomm-badge {
  background-color: var(--primary-color);
  font-weight: 600;
  left: 0px;
  padding: 0.5rem;
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  width: fit-content;
}
/* Card with Overlay */
.card-overlay > .overlay {
  background: var(--light-gray);
  border-radius: 0.5rem;
  height: 100%;
  opacity: 0.75;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.card-overlay > .overlay > .overlay-content {
  background-color: var(--default-color);
  color: var(--white);
  left: 50%;
  opacity: 1;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Vertical Ecommerce Card */

.product-card {
  border-radius: 0rem;
}

.product-card-img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.product-card .card-img {
  height: 35rem;
}

.product-card-content {
  padding: 1.6rem;
}

.product-card-content p {
  text-align: left;
}

.overlay-icon {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 5%;
  top: 4%;
  height: 2.5rem;
  width: 2.5rem;
}

.prod-title {
  font-size: 1.5rem;
}

.prod-category,
.h-card-price {
  font-weight: 400;
  color: var(--default-color);
  margin: 0.2rem 0.2rem;
}

.prod-action-btn {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin: 1.6rem 1.6rem 0 0;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

/* Horizontal E-commerce-Card */

.ecomm-horizontal-card {
  width: 30rem;
  display: flex;
  border-radius: 0rem;
  background-color: var(--secondary-color);
}

.ecomm-horizontal-card .image-container {
  flex: 1 1 8rem;
}

.ecomm-horizontal-card .image-container img {
  border-radius: 0rem;
  object-fit: cover;
}

.ecomm-horizontal-card .h-card-details {
  margin: auto 1rem;
  flex: 2 1 8rem;
}

.num-products {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40%;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.num-products .add-sub-btn {
  border: none;
  color: var(--primary-color);
  font-size: 1rem;
}

.ecomm-horizontal-card .wishlist-btn {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

/* Ecommerce Billing Card */

.ecomm-billing-card {
  width: 25rem;
  margin: 2rem;
  background-color: var(--secondary-color);
  padding: 0.5rem;
}

.billing-card-title {
  font-size: 1.2rem;
  margin: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
}

.pricing-container {
  border-bottom: 2px solid var(--primary-color);
}

.items-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.total-price-container {
  font-size: 1.2rem;
  font-weight: 600;
}

.order-btn {
  margin-bottom: 0.5rem;
}
