<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/dd0d05bba7.js"
      crossorigin="anonymous"
    ></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/Navigation/navigation.css" />
    <title>Pastel UI | Navigation</title>
  </head>
  <body>
    <!-- Header starts -->
    <header class="header">
      <div class="header-brand"><a href="/index.html">Pastel UI</a></div>

      <button class="navbar-open-btn">
        <i class="fas fa-2x fa-bars"></i>
      </button>
      <nav class="navbar hide">
        <ul class="nav-links">
          <li class="nav-item"><a href="/index.html">Home</a></li>
          <li class="nav-item">
            <a href="/components/Alerts/alert.html">Docs</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/RakshaPawar108/Pastel-UI"
              ><i class="fab fa-github"></i>Contribute</a
            >
          </li>
        </ul>
        <button class="navbar-close-btn">
          <i class="far fa-2x fa-times-circle"></i>
        </button>
      </nav>
    </header>
    <!-- Header ends -->

    <div class="wrapper">
      <!-- Sidebar begins -->
      <aside class="aside">
        <h4>Get Started</h4>
        <ul>
          <li>
            <a href="/components/Introduction/introduction.html"
              >Introduction</a
            >
          </li>
        </ul>
        <h4>Components</h4>
        <ul>
          <li><a href="/components/Alerts/alert.html">Alert</a></li>
          <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/Badge/badge.html">Badge</a></li>
          <li><a href="/components/Buttons/button.html">Button</a></li>
          <li><a href="/components/Cards/card.html">Card</a></li>
          <li><a href="/components/Image/image.html">Image</a></li>
          <li><a href="/components/Input/input.html">Input</a></li>
          <li><a href="/components/Lists/list.html">List</a></li>
          <li>
            <a href="/components/Modal/modal.html">Modal</a>
          </li>
          <li class="active">
            <a href="/components/Navigation/navigation.html ">Navigation</a>
          </li>
          <li><a href="/components/Rating/rating.html">Rating</a></li>
          <li><a href="/components/Grid/grid.html">Simplified Grids</a></li>
          <li><a href="/components/Snackbar/snackbar.html">Snackbar</a></li>
          <li>
            <a href="/components/Typography/typography.html">Typography</a>
          </li>
        </ul>
      </aside>
      <!-- Sidebar ends -->

      <section class="section">
        <div class="heading">
          <h1>Navigation</h1>
          <p>
            Navigation component allows the user to navigate through websites
            smoothly.
          </p>
        </div>

        <hr class="divider" />

        <div class="sub-heading">
          <h3>Simple Navigation</h3>
          <p>
            You can get a simple responsive navbar by using the
            <strong>navigation</strong> class on your nav tag.
          </p>
        </div>
        <div class="navigation-wrapper">
          <nav class="navigation">
            <div class="navigation-brand"><a href="#">Pastel UI</a></div>
            <ul class="navigation-items">
              <li class="navigation-item">
                <a href="#" class="navigation-link">Home</a>
              </li>
              <li class="navigation-item">
                <a href="#" class="navigation-link">About</a>
              </li>
              <li class="navigation-item">
                <a href="#" class="navigation-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="code-wrapper">
          <iframe
            src="https://www.thiscodeworks.com/embed/61fe189133c09d0015b44e39"
            style="width: 100%; height: 268px"
            frameborder="0"
          ></iframe>
        </div>

        <hr class="divider" />

        <div class="sub-heading">
          <h3>Navigation with Hamburger Icon</h3>
          <p>
            Navigation with Hamburger Icon are usually used for smaller screen
            where the icon is clickable to display the nav items.
          </p>
        </div>

        <div class="navigation-wrapper">
          <nav class="navigation">
            <div class="navigation-brand"><a href="#">Pastel UI</a></div>
            <button class="navigation-open-btn">
              <i class="fas fa-2x fa-bars"></i>
            </button>
          </nav>
        </div>

        <div class="code-wrapper">
          <iframe
            src="https://www.thiscodeworks.com/embed/61fe209333c09d0015b44e3b"
            style="width: 100%; height: 164px"
            frameborder="0"
          ></iframe>
        </div>

        <hr class="divider" />

        <div class="sub-heading">
          <h3>Navigation with Submenu</h3>
          <p>
            Some Navigation items may also contain items inside the. You can use
            the <strong>navigation-item-sub</strong> on the item with sub-items
            in it.
          </p>
        </div>

        <div class="navigation-wrapper">
          <nav class="navigation">
            <div class="navigation-brand"><a href="#">Pastel UI</a></div>
            <ul class="navigation-items">
              <li class="navigation-item">
                <a href="#" class="navigation-link">Home</a>
              </li>
              <li class="navigation-item-sub">
                <a href="#" class="navigation-link"
                  >About <i class="fa fa-caret-down"></i
                ></a>
                <div class="submenu-links">
                  <a href="#">Item 1</a>
                  <a href="#">Item 2</a>
                  <a href="#">Item 3</a>
                </div>
              </li>
              <li class="navigation-item">
                <a href="#" class="navigation-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="code-wrapper">
          <iframe
            src="https://www.thiscodeworks.com/embed/61fe278d33c09d0015b44e43"
            style="width: 100%; height: 333px"
            frameborder="0"
          ></iframe>
        </div>
      </section>
    </div>

    <!-- Footer starts -->
    <footer class="footer">
      <div class="credits">
        <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Raksha
        Pawar
      </div>

      <div class="social-links">
        <a href="https://twitter.com/rakshapawar108"
          ><i class="fab fa-twitter" title="Twitter"></i
        ></a>
        <a href="https://github.com/RakshaPawar108"
          ><i class="fab fa-github" title="Github"></i
        ></a>
        <a href="https://www.linkedin.com/in/rakshapawar/"
          ><i class="fab fa-linkedin" title="LinkedIn"></i
        ></a>
      </div>
    </footer>

    <!-- Footer Ends -->

    <script src="/js/navbar.js"></script>
  </body>
</html>
