<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/dd0d05bba7.js"
      crossorigin="anonymous"
    ></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/Lists/list.css" />
    <title>Pastel UI | Lists</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="heading">
        <h1>Lists</h1>
        <p>
          Lists are flexible and powerful component for displaying a series of
          content.
        </p>
      </div>

      <hr class="divider" />
      <div class="sub-heading">
        <h3>Basic Lists</h3>
        <p>
          The most basic list is an unordered list with list items and proper
          classes on it.
        </p>
        <p>
          You can get a basic list by using the <strong>list</strong> class on
          the ul tag and <strong>list-item</strong> class alongside the
          <strong>basic</strong> class on your list item tags.
        </p>
      </div>

      <div class="lists-wrapper">
        <ul class="list">
          <li class="list-item basic">List Item 1</li>
          <li class="list-item basic">List Item 2</li>
          <li class="list-item basic">List Item 3</li>
          <li class="list-item basic">List Item 4</li>
          <li class="list-item basic">List Item 5</li>
          <li class="list-item basic">List Item 6</li>
        </ul>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61fa229cb783be0015bbae27"
          style="width: 100%; height: 190px"
          frameborder="0"
        ></iframe>
      </div>

      <hr class="divider" />

      <div class="sub-heading">
        <h3>Stacked Lists</h3>
        <p>
          Stacked Lists are a collection of items with spaces in between each
          item.
        </p>
        <p>
          You can make use of stacked lists by using the
          <strong>list-stacked</strong> class alongside the
          <strong>list</strong> class on the ul tag and
          <strong>stacked</strong> class alongside the
          <strong>list-item</strong> class on the li tag.
        </p>
      </div>

      <div class="lists-wrapper">
        <ul class="list list-stacked">
          <li class="list-item stacked">List Item 1</li>
          <li class="list-item stacked">List Item 2</li>
          <li class="list-item stacked">List Item 3</li>
          <li class="list-item stacked">List Item 4</li>
          <li class="list-item stacked">List Item 5</li>
          <li class="list-item stacked">List Item 6</li>
        </ul>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61fa2662b783be0015bbae2b"
          style="width: 100%; height: 190px"
          frameborder="0"
        ></iframe>
      </div>

      <hr class="divider" />

      <div class="sub-heading">
        <h3>Active Lists</h3>
        <p>
          You can make a list item as active by using the
          <strong>active</strong> class on any list item alongside any of the
          above mentioned list types.
        </p>
      </div>

      <div class="lists-wrapper">
        <ul class="list">
          <li class="list-item basic active">List Item 1</li>
          <li class="list-item basic">List Item 2</li>
          <li class="list-item basic">List Item 3</li>
        </ul>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61fa27f5b783be0015bbae2c"
          style="width: 100%; height: 151px"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </body>
</html>
