<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/dd0d05bba7.js"
      crossorigin="anonymous"
    ></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/Modal/modal.css" />
    <title>Pastel UI | Modal</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="heading">
        <h1>Modal</h1>
        <p>
          Modal allows developers to add dialogs to their website for
          lightboxes, user notifications or other custom content.
        </p>
      </div>

      <hr class="divider" />

      <div class="sub-heading">
        <h3>Basic Modal</h3>
        <p>
          The following component is the basic modal design and you can see the
          demo of working modal as well.
        </p>
        <p>
          You can add the modal by using the <strong>modal</strong> class on
          your div tag.
        </p>
      </div>

      <div class="modals-wrapper">
        <div class="modal">
          <header class="modal-header">
            <h3 class="modal-title">Modal Header</h3>
            <i class="fas fa-times close-icon"></i>
          </header>
          <div class="modal-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
              reprehenderit. Beatae voluptate blanditiis, rerum molestias
              aspernatur facilis laboriosam doloribus fugit.
            </p>
          </div>
          <footer class="modal-buttons">
            <button class="btn btn-cancel">Cancel</button>
            <button class="btn btn-agree">Agree</button>
          </footer>
        </div>

        <p>Click the button below to see a demo of the working modal.</p>
        <button class="btn btn-demo">Open Modal</button>
      </div>

      <div class="sub-heading">
        <h3>HTML for Modal</h3>
      </div>
      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61fc0cc76ab14d0015c32da6"
          style="width: 100%; height: 307px"
          frameborder="0"
        ></iframe>
      </div>

      <div class="sub-heading">
        <h3>JavaScript to open and close the demo modal</h3>
      </div>

      <div class="code-wrapper">
        <iframe
          src="https://www.thiscodeworks.com/embed/61fc0d186ab14d0015c32da7"
          style="width: 100%; height: 268px"
          frameborder="0"
        ></iframe>
      </div>

      <!-- Demo of Modal -->

      <div class="demo-wrapper">
        <div class="modal">
          <header class="modal-header">
            <h3 class="modal-title">Modal Header</h3>
            <i class="fas fa-times close-demo"></i>
          </header>
          <div class="modal-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
              reprehenderit. Beatae voluptate blanditiis, rerum molestias
              aspernatur facilis laboriosam doloribus fugit.
            </p>
          </div>
          <footer class="modal-buttons">
            <button class="btn btn-cancel">Cancel</button>
            <button class="btn btn-agree">Agree</button>
          </footer>
        </div>
      </div>
    </div>

    <script src="/components/Modal/modal.js"></script>
  </body>
</html>
