<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/components/Alerts/alert.css">
    <title>Pastel UI | Alerts</title>
</head>

<body>
    <!-- Header starts -->
    <header class="header">
      <div class="header-brand"><a href="/index.html">Pastel UI</a></div>

      <button class="navbar-open-btn">
        <i class="fas fa-2x fa-bars"></i>
      </button>
      <nav class="navbar hide">
        <ul class="nav-links">
          <li class="nav-item"><a href="/index.html">Home</a></li>
          <li class="nav-item"><a href="/components/Alerts/alert.html">Docs</a></li>
          <li class="nav-item">
            <a href="https://github.com/RakshaPawar108/Pastel-UI"
              ><i class="fab fa-github"></i>Contribute</a
            >
          </li>
        </ul>
        <button class="navbar-close-btn">
          <i class="far fa-2x fa-times-circle"></i>
        </button>
      </nav>
    </header>
    <!-- Header ends -->

    <div class="wrapper">
        <!-- Sidebar begins -->
        <aside class="aside">
        <h4>Get Started</h4>
        <ul>
          <li><a href="/components/Introduction/introduction.html">Introduction</a></li>
        </ul>
        <h4>Components</h4>
        <ul>
        <li class='active'><a  href="/components/Alerts/alert.html">Alert</a></li>
          <li><a href="/components/Avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/Badge/badge.html">Badge</a></li>
          <li><a href="/components/Buttons/button.html">Button</a></li>
          <li><a href="/components/Cards/card.html">Card</a></li>
          <li><a href="/components/Image/image.html">Image</a></li>
          <li><a href="/components/Input/input.html">Input</a></li>
          <li><a href="/components/Lists/list.html">List</a></li>
          <li><a href="/components/Modal/modal.html">Modal</a></li>
          <li><a href="/components/Navigation/navigation.html ">Navigation</a></li>
          <li><a href="/components/Rating/rating.html">Rating</a></li>
          <li><a href='/components/Grid/grid.html'>Simplified Grids</a></li>
          <li>
            <a href="/components/Slider/slider.html">Slider</a>
          </li>
          <li><a href="/components/Snackbar/snackbar.html">Snackbar</a></li>
          <li><a href="/components/Typography/typography.html">Typography</a></li>
        </ul>
      </aside>
      <!-- Sidebar ends -->

      <div class="section">
        <div class="heading">
            <h1>Alerts</h1>
            <p>An alert displays a short, important message in a way that attracts the user's attention without
                interrupting the user's task.</p>
        </div>
        <hr class="divider">
        </hr>
        <div class="sub-heading">
            <h3>Basic Alerts</h3>
            <p>These alerts offer four severity levels with distinctive icons and colors</p>
            <p>You can use the <strong>alert</strong> class on your div element to get an alert. You can add
                <strong>alert-error</strong>, <strong>alert-warning</strong>, <strong>alert-info</strong>, and
                <strong>alert-success</strong> classes in addition to the alert class to get the respective variants of
                alerts.</p>
        </div>
        <div class="alerts-wrapper">
            <div class="alert alert-error">
                <span><i class="fas fa-exclamation-circle"></i> This is an error alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f7c173b50e540015bbae2e" style="width: 100%; height: 125px;" frameborder="0"></iframe>
        </div>

        <div class="alerts-wrapper">
            <div class="alert alert-warning">
                <span><i class="fas fa-exclamation-triangle"></i> This is a warning alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f7c1cab50e540015bbae2f" style="width: 100%; height: 125px;" frameborder="0"></iframe>
        </div>


        <div class="alerts-wrapper">
            <div class="alert alert-info">
                <span><i class="fas fa-info-circle"></i> This is an info alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
           <iframe src="https://www.thiscodeworks.com/embed/61f7c212b50e540015bbae31" style="width: 100%; height: 125px;" frameborder="0"></iframe>
        </div>

        <div class="alerts-wrapper">
            <div class="alert alert-success">
                <span><i class="fas fa-check-circle"></i> This is a success alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
            <iframe src="https://www.thiscodeworks.com/embed/61f7c247b50e540015bbae32" style="width: 100%; height: 125px;" frameborder="0"></iframe>
        </div>

      </div>
    </div>

    <!-- Footer starts -->
    <footer class="footer">
      <div class="credits">
        <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Raksha
        Pawar
      </div>

      <div class="social-links">
        <a href="https://twitter.com/rakshapawar108"
          ><i class="fab fa-twitter" title="Twitter"></i
        ></a>
        <a href="https://github.com/RakshaPawar108"
          ><i class="fab fa-github" title="Github"></i
        ></a>
        <a href="https://www.linkedin.com/in/rakshapawar/"
          ><i class="fab fa-linkedin" title="LinkedIn"></i
        ></a>
      </div>
    </footer>

    <!-- Footer Ends -->

    <script src="/js/navbar.js"></script>
</body>

</html>