<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/dd0d05bba7.js" crossorigin="anonymous"></script>

    <!-- My stylesheets -->

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/components/Alerts/alert.css">
    <title>Pastel UI | Alerts</title>
</head>

<body>
    <div class="wrapper">
        <div class="heading">
            <h1>Alerts</h1>
            <p>An alert displays a short, important message in a way that attracts the user's attention without
                interrupting the user's task.</p>
        </div>
        <hr class="divider">
        </hr>
        <div class="sub-heading">
            <h3>Basic Alerts</h3>
            <p>These alerts offer four severity levels with distinctive icons and colors</p>
            <p>You can use the <strong>alert</strong> class on your div element to get an alert. You can add
                <strong>alert-error</strong>, <strong>alert-warning</strong>, <strong>alert-info</strong>, and
                <strong>alert-success</strong> classes in addition to the alert class to get the respective variants of
                alerts.</p>
        </div>
        <div class="alerts-wrapper">
            <div class="alert alert-error">
                <span><i class="fas fa-exclamation-circle"></i> This is an error alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520alert-error%2522%253E%250A%2520%2520%253Cspan%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-exclamation-circle%2522%253E%253C%252Fi%253E%2520This%2520is%2520an%2520error%2520alert%21%250A%2520%2520%253C%252Fspan%253E%250A%253C%252Fdiv%253E%250A"
                style="width: 778px; height: 281px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <div class="alerts-wrapper">
            <div class="alert alert-warning">
                <span><i class="fas fa-exclamation-triangle"></i> This is a warning alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520alert-warning%2522%253E%250A%2520%2520%253Cspan%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-exclamation-triangle%2522%253E%253C%252Fi%253E%2520This%2520is%2520a%2520warning%2520alert%21%250A%2520%2520%253C%252Fspan%253E%250A%253C%252Fdiv%253E%250A"
                style="width: 808px; height: 281px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>


        <div class="alerts-wrapper">
            <div class="alert alert-info">
                <span><i class="fas fa-info-circle"></i> This is an info alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520alert-info%2522%253E%250A%2520%2520%253Cspan%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-info-circle%2522%253E%253C%252Fi%253E%2520This%2520is%2520an%2520info%2520alert%21%250A%2520%2520%253C%252Fspan%253E%250A%253C%252Fdiv%253E%250A"
                style="width: 702px; height: 281px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <div class="alerts-wrapper">
            <div class="alert alert-success">
                <span><i class="fas fa-check-circle"></i> This is a success alert!</span>
            </div>
        </div>

        <div class="code-wrapper">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28250%2C+225%2C+202%2C+1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=true&fl=1&fm=Hack&fs=16px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520alert-success%2522%253E%250A%2520%2520%253Cspan%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-check-circle%2522%253E%253C%252Fi%253E%2520This%2520is%2520a%2520success%2520alert%21%250A%2520%2520%253C%252Fspan%253E%250A%253C%252Fdiv%253E%250A"
                style="width: 730px; height: 281px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>


    </div>
</body>

</html>